{/*引用插件*/}
{if ISPJAX != 1 }
{load href="__STATIC__/global/jQuery/jquery.form.js" /}

{load href="__STATIC__/global/slimScroll/jquery.slimscroll.min.js" /}

{load href="__STATIC__/global/nprogress/nprogress.css" /}
{load href="__STATIC__/global/nprogress/nprogress.js" /}

{load href="__STATIC__/system/iCheck/icheck.min.js" /}

{load href="__STATIC__/system/select2/select2.min.js" /}
{load href="__STATIC__/system/select2/i18n/zh-CN.js" /}

{load href="__STATIC__/system/editable/bootstrap-editable.js" /}
{load href="__STATIC__/system/editable/bootstrap-editable.css" /}

{load href="__STATIC__/global/toastr/toastr.min.css" /}
{load href="__STATIC__/global/toastr/toastr.min.js" /}

{load href="__STATIC__/global/datetimepicker/bootstrap-datetimepicker.min.css" /}
{load href="__STATIC__/global/datetimepicker/moment-with-locales.min.js" /}
{load href="__STATIC__/global/datetimepicker/bootstrap-datetimepicker.min.js" /}

{load href="__STATIC__/global/jquery-confirm/jquery-confirm.min.css" /}
{load href="__STATIC__/global/jquery-confirm/jquery-confirm.min.js" /}

{load href="__STATIC__/global/kindeditor/themes/default/default.css" /}
{load href="__STATIC__/global/kindeditor/kindeditor-all.js" /}
{load href="__STATIC__/global/kindeditor/lang/zh-CN.js" /}

{load href="__STATIC__/global/cropper/cropper.main.css" /}
{load href="__STATIC__/global/cropper/cropper.min.css" /}
{load href="__STATIC__/global/cropper/cropper.main.js" /}
{load href="__STATIC__/global/cropper/cropper.min.js" /}

{load href="__STATIC__/global/chart/Chart.min.js" /}

{load href="__STATIC__/system/dist/js/common.js" /}
{/if}