{extend name="public/base" /}

{block name="title"}<title>{if $data && !is_array($data)}{$Think.lang.edit}{else /}{$Think.lang.create}{/if}</title>{/block}

{block name="pjax_container"}
<section class="content-header">
    <h1>{$Think.lang.c_title}{$Think.lang.info}</h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" method="POST" action="" onsubmit="return false" >
                <input type="hidden" name="id" value="{$data.id}" />
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1" data-toggle="tab">{$Think.lang.base_param}</a></li>
                        <li><a href="#tab2" data-toggle="tab">{$Think.lang.advanced_param}</a></li>
                        <li class="pull-right"><a href="javascript:history.back(-1)" class="btn btn-sm" style="padding:10px 2px;"><i class="fa fa-list"></i> {$Think.lang.back}</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            {:widget('common/Select/index', [$data, [
                                'name' => 'pid',
                                'title' => $Think.lang.pid,
                                'from' => 'function',
                                'fromcfg' => 'arctyp_tree',
                            ]])}
                            {:widget('common/Input/index', [$data, [
                                'name' => 'typename',
                                'title' => $Think.lang.typename,
                                'placeholder' => $Think.lang.typename,
                            ]])}
                            {:widget('common/FileUpload/index', [$data, [
                                'name' => 'litpic',
                                'title' => $Think.lang.litpic,
                                'placeholder' => $Think.lang.litpic,
                            ]])}
                            {:widget('common/Content/index', [$data, [
                                'name' => 'content',
                                'title' => $Think.lang.content,
                            ]])}
                            {:widget('common/Select/index', [$data, [
                                'name' => 'status',
                                'title' => $Think.lang.status,
                                'from' => 'selectlist',
                                'fromcfg' => 'status',
                            ]])}
                            {:widget('common/Input/index', [$data, [
                                'name' => 'sorts',
                                'title' => $Think.lang.sorts,
                                'placeholder' => $Think.lang.sorts,
                                'default_val' => '50',
                            ]])}
                        </div>
                        <div class="tab-pane" id="tab2">
                            {:widget('common/Select/index', [$data, [
                                'name' => 'mid',
                                'title' => $Think.lang.mid,
                                'from' => 'function',
                                'fromcfg' => 'arctype_mod',
                                'theme' => 'arctype_mod',
                            ]])}
                            <div class="form-group {if $data.mid neq 3}hide{/if}" id="jumplink">
                                <label class="col-sm-2 control-label">{$Think.lang.jumplink}</label>
                                <div class="col-sm-7"><input class="form-control" name="jumplink" value="{$data.jumplink}" placeholder="{$Think.lang.jumplink}"></div>
                            </div>
                            {:widget('common/Input/index', [$data, [
                                'name' => 'dirs',
                                'title' => $Think.lang.dirs,
                                'placeholder' => $Think.lang.dirs,
                            ]])}
                            {:widget('common/Input/index', [$data, [
                                'name' => 'keywords',
                                'title' => $Think.lang.keywords,
                                'placeholder' => $Think.lang.keywords,
                            ]])}
                            {:widget('common/Textarea/index', [$data, [
                                'name' => 'description',
                                'title' => $Think.lang.description,
                                'placeholder' => $Think.lang.description,
                            ]])}
                            {:widget('common/Radio/index', [$data, [
                                'name' => 'target',
                                'title' => $Think.lang.target,
                                'from' => 'selectlist',
                                'fromcfg' => 'target',
                            ]])}
                            {:widget('common/Input/index', [$data, [
                                'name' => 'icon',
                                'title' => $Think.lang.icon,
                                'placeholder' => $Think.lang.icon,
                            ]])}
                            {:widget('common/Input/index', [$data, [
                                'name' => 'templist',
                                'title' => $Think.lang.templist,
                                'placeholder' => $Think.lang.templist,
                                'default_val' => 'list_article',
                            ]])}
                            {:widget('common/Input/index', [$data, [
                                'name' => 'temparticle',
                                'title' => $Think.lang.temparticle,
                                'placeholder' => $Think.lang.temparticle,
                                'default_val' => 'article_article',
                            ]])}
                            {:widget('common/Input/index', [$data, [
                                'name' => 'pagesize',
                                'title' => $Think.lang.pagesize,
                                'placeholder' => $Think.lang.pagesize,
                                'default_val' => '20',
                            ]])}
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-7">
                            <div class="btn-group pull-right">
                                <button type="submit" class="btn btn-info pull-right submits" data-loading-text="&lt;i class='fa fa-spinner fa-spin '&gt;&lt;/i&gt; {$Think.lang.submit}">{$Think.lang.submit}</button>
                            </div>
                            <div class="btn-group pull-left">
                                <button type="reset" class="btn btn-warning">{$Think.lang.reset}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<script type="text/javascript">
$(function(){
    /*ajax页面加载icheck，有该控件的页面才需要*/
    $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
        checkboxClass: 'icheckbox_minimal-blue',
        radioClass: 'iradio_minimal-blue'
    });
    
    /*ajax页面加载select2，有该控件的页面才需要*/
    $(".select2").select2({language:"zh-CN"});
    
    $("select[name='mid']").change( function() {
        if($(this).val() == "3"){
            $("#jumplink").removeClass("hide");
        }else{
            var mod = $(this).find("option:selected").data("mod");
            var mod_list = "list_" + mod;
            var mod_article = "article_" + mod;
            $("input[name='templist']").val(mod_list);
            $("input[name='temparticle']").val(mod_article);
            $("#jumplink").addClass("hide");
        }
    });
})
</script>
{/block}