
{if ISPJAX != 1 }
<footer class="main-footer">
    <div class="pull-right hidden-xs"></div>{:confv('copyright')}&nbsp;|&nbsp;<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1270009836&site=qq&menu=yes" class="bds_sqq fa fa-qq"></a>
</footer>

<aside class="control-sidebar control-sidebar-light">
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
        <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
        <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
        <div class="tab-pane" id="control-sidebar-home-tab">
            <h3 class="control-sidebar-heading">右上1加点什么呢~~</h3>
        </div>
        <div class="tab-pane" id="control-sidebar-settings-tab">
            <h3 class="control-sidebar-heading">右上2加点什么呢~~</h3>
        </div>
    </div>
</aside>
<div class="control-sidebar-bg"></div>
{/if}