body{
    background-color:#eeeeee;
    padding:0px;
    font-family: Georgia, serif;
    font-size: 13px;
     margin:0px;
} 

#logo{
  color: #3ba7f3;
  margin: 0px;
  padding:5px;
  font-family: "Comic Sans MS", cursive;
  font-size: 50px;
  text-align: left top;
}
#stitle{
  color: #cc99cc;
  margin: 0px;
  width: auto;
  padding:0px;
  font-family: "Comic Sans MS", cursive;
  font-size: 40px;
  float:right;
}
nav{
  background-color: #99ccff;
  margin: 0px;
  font-size: 30px;
  }
nav ul{
    margin: 0px;
  list-style-type: none;
    padding: 0px 0px 0px 0px;
}
nav ul li{
  display: inline;
  margin:0px 50px 0px 50px;
  padding: 0px;
  
}
nav ul li a:link,nav ul li a:link{
  color:#2a30a3;
  border-bottom: none;
  font-weight: bold;
  text-decoration: none;
}
/*nav ul li a:hover{
  background-color: #ff0033;
  text-decoration: none;
}
*/
nav ul li.titleselected{
  color:#f20f45;
}
asideleft indexone a:link,asideright a:link{
  color:#b68792;
  border-bottom: none;
  font-weight: bold;
  text-decoration: none;
}
asideleft indextwo a:link{
  color:#0c888c;
  border-bottom: none;
  font-weight: bold;
  text-decoration: none;
  font-size: normal;
}
indexeone{
  font-size: 25px;
}
indextwo{
    font-size: 15px;
  margin: 20px 0px 20px 0px;
}
.selected{
  color: #0c888c;
 font-size: normal;
}

#logo a:link{
 color:#3ba7f3;
  border-bottom: none;
  text-decoration: none;    
}  
asideleft{
  display: table-cell;
  padding:15px;
  border-style: solid;
  border-color: #cccccc;
  border-width: thin;
  width: 200px;
  text-align:center;
  font-size: 20px;

}
asideleft ul{
  list-style-type: none;
  text-align: left;
}
asideright{
  display: table-cell;
  padding:15px;
  border-style: solid;
  border-color: #cccccc;
  border-width: thin;
  width: 200px;
  text-align:center;
  font-size: 20px;
}
artical{
   display: table-cell;
   vertical-align: top;
   text-align: justify;
   font-size: 120%;
   width:850px;
   padding: 15px;
}
sheet{
    margin: 5px 20px 0px 20px;
    padding:10px;
    text-align: center;
}
#tableContainer{
  dispaly: table;
  border-spacing: 10px;
}
#tableRow{
  display: table-row;
}

footer{
  text-align: center;
  background-color:#b196e3;
   margin: 0px;
  padding: 2px;
  font-size: %90;
}
.smallindex{

  font-weight: normal;
}  
.indexinf{
    letter-spacing: %150;
  font-weight: normal;
  font-size: %50;
}
.suojin{
 text-indent:2em;
   text-align:left;
}
.duiqi{
text-align:justify;
     text-align-last:justify;
}
table{
  margin: 0px 20px 0px 20px;
  border: thin solid black;
  caption-side: bottom;
  border-collapse: collapse;
}

td,th{
  border: thin dotted gray;
  padding: 5px;
  text-align:center;
}
caption{
  font-weight: normal;
  padding: 5px 0px 0px 0px;
}
th{
 background-color: #0099ff;
}
tr: nth-child(even){
  background-color:#66ffff;
}
tr: nth-child(ood){
  background-color:#99ffff;
}
.smalltext{
  font-size: %20;
  text-size: %20;
}
table table th{
   background-color:white;
}
table  a:link{
  color:#b68792;
  border-bottom: none;
  font-weight: bold;
  text-decoration: none;
}
artical ul{
 list-style-type: none;
 padding: 0px;
}

artical a{
  color: #3333ff;
  background-color: transparent;
  font-weight: bold;
  text-decoration: none;
}
img{
  display: block;
  clear: both;
  height: 400px;
  }
artical ul li{
  display: inline;
  padding: 0px 10px 0px 0px;
  }

 artical p{
  text-indent:2em;
  }
 #bottomline{
     border-bottom: 1px dashed black;
	 }
 artical h1{
  text-align: center;
  }
#slideshow{
  width:150px;
  position: relative;
  overflow: hidden;
  height: 147px;
  }
/*overflow属性：visible:不裁剪溢出内容，scroll:对溢出内容隐藏，但显示滚动条便于用户查看*/
/* auto：类似于scroll，当发生溢出时才显示滚动条*/
#preview{
  width:600px;
  height:147px;
  position:absolute;/*HTML没有，在js里面未赋予*/
}