{extend name="public/base" /}

{block name="title"}<title>{$Think.lang.create}</title>{/block}

{block name="pjax_container"}
<section class="content-header">
    <h1>{$Think.lang.info}</h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" method="POST" action="" onsubmit="return false" >
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1" data-toggle="tab">{$Think.lang.base_param}</a></li>
                        <li class="pull-right"><a href="javascript:history.back(-1)" class="btn btn-sm" style="padding:10px 2px;"><i class="fa fa-list"></i> {$Think.lang.back}</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            {:widget('common/Input/index', [$data, [
                                'name' => 'username',
                                'title' => $Think.lang.username,
                                'placeholder' => $Think.lang.username,
                            ]])}
                            {:widget('common/Input/index', [$data, [
                                'name' => 'password',
                                'title' => $Think.lang.password,
                                'placeholder' => $Think.lang.password,
                                'inputtype' => 'password',
                            ]])}
                            {:widget('common/Input/index', [$data, [
                                'name' => 'repassword',
                                'title' => $Think.lang.repassword,
                                'placeholder' => $Think.lang.repassword,
                                'inputtype' => 'password',
                            ]])}
                            {:widget('common/Input/index', [$data, [
                                'name' => 'name',
                                'title' => $Think.lang.name,
                                'placeholder' => $Think.lang.name,
                            ]])}
                            {:widget('common/Input/index', [$data, [
                                'name' => 'email',
                                'title' => $Think.lang.email,
                                'placeholder' => $Think.lang.email,
                            ]])}
                            {:widget('common/Input/index', [$data, [
                                'name' => 'mobile',
                                'title' => $Think.lang.mobile,
                                'placeholder' => $Think.lang.mobile,
                            ]])}
                            {:widget('common/Select/index', [$data, [
                                'name' => 'status',
                                'title' => $Think.lang.status,
                                'from' => 'selectlist',
                                'fromcfg' => 'status',
                            ]])}
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-7">
                            <div class="btn-group pull-right">
                                <button type="submit" class="btn btn-info pull-right submits" data-loading-text="&lt;i class='fa fa-spinner fa-spin '&gt;&lt;/i&gt; {$Think.lang.submit}">{$Think.lang.submit}</button>
                            </div>
                            <div class="btn-group pull-left">
                                <button type="reset" class="btn btn-warning">{$Think.lang.reset}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<script type="text/javascript">
$(function(){
    /*ajax页面加载icheck，有该控件的页面才需要*/
    $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
        checkboxClass: 'icheckbox_minimal-blue',
        radioClass: 'iradio_minimal-blue'
    });
    
    /*ajax页面加载select2，有该控件的页面才需要*/
    $(".select2").select2({language:"zh-CN"});
})
</script>
{/block}