{if ISPJAX != 1 }
 <header class="main-header">
    <nav class="navbar navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../../index2.html" class="navbar-brand"><b>YANG</b>XIAO</a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <i class="fa fa-bars"></i>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
            {volist name=":channeldata(0)" id="vo"}
            {php}
            $cChannel = channeldata($vo['id']);
            {/php}
                   <li class="dropdown">
                <a href="{$vo.typelink}" class="dropdown-toggle" data-toggle="dropdown">
                     <span>{$vo.typename}</span>
                </a>
                {notempty name="cChannel"}
                <ul class="dropdown-menu" role="menu">
                    {volist name="cChannel" id="vo2"}
                    <li><a href="{$vo2.typelink}"> {$vo2.typename}</a></li>
                    {/volist}
                </ul>
                {/notempty}
            </li>
            {/volist}
          </ul>
<form action="{:url('Search/index')}" method="GET" class="navbar-form navbar-left" pjax-search="" >
            <div class="input-group">
                <input type="text" name="k" class="form-control" placeholder="输入关键词搜索..." />
                <span class="input-group-btn">
                    <button type="submit" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form>
        </div>
        <!-- /.navbar-collapse -->
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">

{php}
        $userid = session('webuserId');
        if(empty($userid)){
        {/php}
            <!-- Tasks Menu -->
            <!-- User Account Menu -->
            <li class="dropdown user user-menu">
              <!-- Menu Toggle Button -->
              <a href="javascript:void(0);"  class="dropdown-toggle" id="plzlog" data-toggle="dropdown">
                登陆
              </a>
<ul class="dropdown-menu">
<form action="{:url('Login/checkLogin')}" method="POST" class="no-padding" onsubmit="return false" >
                            <li class="user-header" style="background-color:#ffffff;">
                                <div class="input-group" style="margin-bottom:10px;">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    <input class="form-control" placeholder="用户名" name="username" type="text">
                                </div>
                                <div class="input-group" style="margin-bottom:10px;">
                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    <input class="form-control" placeholder="密码" name="password" type="password">
                                </div>
                                <div class="input-group" style="margin-bottom:10px;">
                                    <span class="input-group-addon"><i class="fa fa-unlock-alt"></i></span>
                                    <div class="row">
                                    <div class="col-sm-6">
                                    <input class="form-control" name="code" placeholder="验证码">
                                    </div>
                                    <div class="col-sm-6">
                                    <img src="{:captcha_src()}" id="code" alt="验证码" onclick="this.src='{:captcha_src()}?rnd='+Math.random();" />
                                    </div>
                                    </div>
                                </div>
                            </li>

                            <li class="user-body">
                                <button type="submit" class="btn btn-block btn-info login-btn" data-loading-text="&lt;i class='fa fa-spinner fa-spin '&gt;&lt;/i&gt; 登陆">登陆</button>
                            </li><br>
                            <li class="user-footer">
                                <span>第三方登录</span>
                                <!--<a href="{:url('Login/qqconnet')}" class="third-way">
                                    <i class="fa fa-qq"></i>
                                    <span class="bg qq"></span>
                                </a>-->
                                <a href="https://api.weibo.com/oauth2/authorize?client_id=2820019779&response_type=code&redirect_uri=http://www.lxxx.site/Tp5/public/index/api/weibo" style="color:#ff0000;}">&nbsp;<i class="fa fa-weibo"></i></a>
                                <a href="{:url('Login/qqconnect')}" class="third-way" style="color:#0099ff">
                                    <i class="fa fa-qq"></i>
                                    <span class="bg qq"></span>
                                </a>
                                <a href="{:url('Login/index')}" class="third-way pull-right" style="color:#0066ff">注册</a>
                            </li>
                        </form>
</ul>

{php}
        }else{
        {/php}
        <li class="dropdown user user-menu">
     <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="{:cookie('webavatar')}" class="user-image">
                            <span class="hidden-xs">{:cookie('webname')}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header">
                                <img src="{:cookie('webavatar')}" class="img-circle">
                                <p>{:cookie('webname')}<small>Try yourself!</small></p>
                            </li>
                            <li class="user-footer">
                                <div class="pull-left"><a href="{:url('Profile/index/'.session('webuserId'))}" target="_blank"  class="btn btn-default btn-flat">个人设置</a></div>
                                <div class="pull-right"><a href="{:url('Login/loginOut')}" class="btn btn-default btn-flat">退出</a></div>
                            </li>
                        </ul>
            </li>
          </ul>
        </div>
        <!-- /.navbar-custom-menu -->
      </div>
      <!-- /.container-fluid -->
        {php}
        }{/php}
    </nav>
  </header>
{/if}