{extend name="public/base" /}

{block name="title"}
<title>搜索结果 - {:confv('title')}</title>
<meta name="keywords" content="{:confv('keywords')}">
<meta name="description" content="{:confv('description')}">
{/block}

{block name="pjax_container"}
<section class="content">
    <div class="row">
        <div class="col-sm-8">
            <div class="alert bg-white position">
                <i class="fa fa-home"></i>
                <a href="{:url('Search/other')}?k={php}echo $_GET['k'];{/php}">搜索值：{:input('get.k')}</a>
                <span>></span>
                <a>搜索结果</a>
            </div>
            
            {volist name="dataList" id="vo"}
            <div class="list-arc-item {$vo.listStyle}">
                <a href="{$vo.arcurl}" {$vo.target} title="{$vo.title}">
                    {notempty name="vo.litpic"}
                    <img src="{$vo.litpic}" alt="{$vo.title}" title="{$vo.title}" />
                    {/notempty}
                    <div class="list-box">
                        <h2>{$vo.title}</h2>
                        <div class="info">{$vo.description}</div>
                    </div>
                </a>
                <div class="tags">
                    <i class="fa fa-clock-o" title="时间：{$vo.create_time|time_line}" data-toggle="tooltip" > {$vo.create_time|time_line}</i>
                    <i class="fa fa-comments" title="评论：{$vo.comment_total}" data-toggle="tooltip" > {$vo.comment_total}</i>
                    <i class="fa fa-thumbs-o-up hidden-xs" title="点赞：{$vo.thumbs_total}" data-toggle="tooltip" > {$vo.thumbs_total}</i>
                    <i class="fa fa-eye" title="浏览：{$vo.click}" data-toggle="tooltip" > {$vo.click}</i>
                </div>
            </div>
            {/volist}
            
            {empty name="dataList"}
            <div class="list-arc-item top">
                <div class="list-box">
                    <div class="info text-center">暂无相关搜索结果！</div>
                </div>
            </div>
            {/empty}
            
            {$dataList->render()}
        </div>
        
        <div class="col-sm-4 hidden-xs" style="padding-left:0px;">
            {include file="profile/hot_article" /}
        </div>
    </div>
</section>
{/block}