{extend name="public/base" /}

{block name="title"}<title>{$Think.lang.list}</title>{/block}

{block name="pjax_container"}
<section class="content-header">
    <h1>{$Think.lang.restore}{$Think.lang.c_title}{$Think.lang.list}</h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                    <div class="pull-left">
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th>{$Think.lang.bk_id}</th>
                            <th>{$Think.lang.bk_name}</th>
                            <th>{$Think.lang.bk_time}</th>
                            <th>{$Think.lang.bk_size}</th>
                            <th width="175">{$Think.lang.action}</th>
                        </tr>
                        {volist name="dataList" id="vo"}
                        <tr>
                            <td>{$i}</td>
                            <td>{$vo.name}</td>
                            <td>{$vo.time}</td>
                            <td>{$vo.size}</td>
                            <td>
                                {:auth_action(CONTROLLER_NAME.'/dowonload', 'a', lang('dowonload'), ['table' => $vo.name], 'warning', 'xs', 'download')} 
                                {:auth_action(CONTROLLER_NAME.'/restore', 'box', lang('restore'), $vo.name, 'primary', 'xs', 'rotate-left')} 
                                {:auth_action(CONTROLLER_NAME.'/delete', 'box', lang('delete'), $vo.name, 'danger', 'xs', 'trash')} 
                            </td>
                        </tr>
                        {/volist}
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{/block}