{if ISPJAX != 1 }

{load href="__STATIC__/global/jQuery/jquery-2.2.3.min.js" /}
{load href="__STATIC__/global/jQuery/jquery.pjax.js" /}
{load href="__STATIC__/global/bootstrap/js/bootstrap.min.js" /}
{load href="__STATIC__/global/bootstrap/css/bootstrap.min.css" /}
{load href="__STATIC__/web/css/blog.css" /}
{load href="__STATIC__/global/font-awesome/css/font-awesome.min.css" /}


{load href="__STATIC__/web/syntaxhighlighter/shCoreEclipse.css" /}
{load href="__STATIC__/web/syntaxhighlighter/shCore.js" /}
{load href="__STATIC__/web/syntaxhighlighter/shBrushPhp.js" /}


{load href="__STATIC__/s/global/bootstrap/js/bootstrap-dialog.min.css" /}
{load href="__STATIC__/s/global/bootstrap/js/bootstrap-dialog.min.js" /}


{/if}