{if ISPJAX != 1 }
{load href="__STATIC__/global/jQuery/jquery-2.2.3.min.js" /}
{load href="__STATIC__/global/jQuery/jquery.pjax.js" /}
{load href="__STATIC__/global/nprogress/nprogress_web.css" /}
{load href="__STATIC__/global/nprogress/nprogress.js" /}
{load href="__STATIC__/global/bootstrap/js/bootstrap.min.js" /}
{load href="__STATIC__/global/slimScroll/jquery.slimscroll.min.js" /}
{load href="__STATIC__/web/js/app.min.js" /}
{load href="__STATIC__/web/js/common.js" /}
{load href="__STATIC__/web/js/demo.js" /}
{/if}