<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div class="container-fluid">
	<table cellspacing="0" cellpadding="0" align="center" border="0" class="table-responsive">

							<tr>
								<td>
									&nbsp;
								</td>
								<td>
									<b>节次</b> 
								</td>
								<td>
									<b>星期一</b> 
								</td>
								<td>
									<b>星期二</b> 
								</td>
								<td>
									<b>星期三</b> 
								</td>
								<td>
									<b>星期四</b> 
								</td>
								<td>
									<b>星期五</b> 
								</td>
							</tr>
							<tr>
								<td rowspan="4">
									<b>上午</b> 
								</td>
								<td >
									<b>第一节<b></b></b> 
								</td>
								<td >
									&nbsp;
								</td>
								<td  rowspan="2">
									硕士研究生学位英语II(B级9班)<br />
1-15周1-2节<br />
立人楼A110  薛晨<br />
								</td>
								<td >
									&nbsp;
								</td>
								<td >
									&nbsp;
								</td>
								<td  rowspan="2">
									图论及应用(13班)<br />
1-10周1-2节<br />
品学楼B208  夏红<br />
								</td>
							</tr>
							<tr>
								<td >
									<b>第二节<b></b></b> 
								</td>
								<td>
									&nbsp;
								</td>
								<td>
									&nbsp;
								</td>
								<td>
									&nbsp;
								</td>
							</tr>
							<tr>
								<td>
									<b>第三节<b></b></b> 
								</td>
								<td>
									&nbsp;
								</td>
								<td>
									&nbsp;
								</td>
								<td>
									&nbsp;
								</td>
								<td>
									&nbsp;
								</td>
								<td rowspan="2">
									数字化设计与制造<br />
8-12周3-4节<br />
立人楼B407  邱静<br />
								</td>
							</tr>
							<tr>
								<td >
									<b>第四节<b></b></b> 
								</td>
								<td >
									&nbsp;
								</td>
								<td >
									&nbsp;
								</td>
								<td>
									&nbsp;
								</td>
								<td>
									&nbsp;
								</td>
							</tr>
							<tr>
								<td rowspan="4">
									<b>下午</b> 
								</td>
								<td>
									<b>第五节<b></b></b> 
								</td>
								<td rowspan="2">
									图论及应用(13班)<br />
1-10周5-6节<br />
品学楼B208  夏红<br />
最优化设计方法<br />
8-13周5-6节<br />
立人楼B407  许焕卫<br />
								</td>
								<td rowspan="2">
									自然辩证法概论(10班)<br />
1-9周5-6节<br />
立人楼B418  冉奎<br />
								</td>
								<td rowspan="2">
									图论及应用(13班)<br />
1-10周5-6节<br />
品学楼B208  夏红<br />
								</td>
								<td rowspan="2">
									最优化设计方法<br />
8-12周5-6节<br />
立人楼B407  许焕卫<br />
								</td>
								<td>
									&nbsp;
								</td>
							</tr>
							<tr>
								<td>
									<b>第六节<b></b></b> 
								</td>
								<td>
									&nbsp;
								</td>
							</tr>
							<tr>
								<td>
									<b>第七节<b></b></b> 
								</td>
								<td  rowspan="2">
									可靠性设计<br />
8-13周7-8节<br />
立人楼B408  汪忠来,何俐萍<br />
								</td>
								<td rowspan="2">
									可靠性设计<br />
8-12周7-8节<br />
立人楼B408  汪忠来,何俐萍<br />
								</td>
								<td rowspan="2">
									数字化设计与制造<br />
8-13周7-8节<br />
立人楼B407  邱静<br />
								</td>
								<td>
									&nbsp;
								</td>
								<td>
									&nbsp;
								</td>
							</tr>
							<tr>
								<td>
									<b>第八节<b></b></b> 
								</td>
								<td>
									&nbsp;
								</td>
								<td>
									&nbsp;
								</td>
							</tr>
							<tr>
								<td rowspan="4">
									<b>晚上</b> 
								</td>
								<td>
									<b>第九节<b></b></b> 
								</td>
								<td rowspan="2">
									数字化设计与制造<br />
8-13周9-11节<br />
立人楼B407  邱静<br />
								</td>
								<td>
									&nbsp;
								</td>
								<td rowspan="2">
									最优化设计方法<br />
8-13周9-11节<br />
立人楼B407  许焕卫<br />
								</td>
								<td rowspan="2">
									可靠性设计<br />
8-13周9-11节<br />
立人楼B408  汪忠来,何俐萍<br />
								</td>
								<td>
									&nbsp;
								</td>
							</tr>
							<tr>
								<td>
									<b>第十节<b></b></b> 
								</td>
								<td>
									&nbsp;
								</td>
								<td>
									&nbsp;
								</td>
							</tr>
							<tr>
								<td>
									<b>第十一节<b></b></b> 
								</td>
								<td>
									&nbsp;
								</td>
								<td>
									&nbsp;
								</td>
								<td>
									&nbsp;
								</td>
								<td>
									&nbsp;
								</td>
								<td>
									&nbsp;
								</td>
							</tr>
							<tr>
								<td>
									<b>第十二节<b></b></b> 
								</td>
								<td>
									&nbsp;
								</td>
								<td>
									&nbsp;
								</td>
								<td>
									&nbsp;
								</td>
								<td>
									&nbsp;
								</td>
								<td>
									&nbsp;
								</td>
							</tr>

	</table>
</div>
</body>
</html>