{extend name="public/base" /}

{block name="title"}
<title>{$arctype.typename} - {:confv('title')}</title>
<meta name="keywords" content="{$arctype.keywords}">
<meta name="description" content="{$arctype.description}">
{/block}

{block name="pjax_container"}
<section class="content">
    <div class="row">
        <div class="col-sm-8">
            <div class="alert bg-white position">{:position($arctype['id'], '<i class="fa fa-home"></i> 首页')}</div>
            
            <div class="bg-white view-page">
                {$arctype.content}
            </div>
            
            <div class="box-body chat">
                <h4 style="margin:15px 0;">{$guestbookTotal} 条评论</h4>
                {volist name="gbList" id="vo"}
                <div class="item">
                    <img src="/static/global/image/avatar.png" alt="{$vo.title}" class="offline">
                    <p class="message">
                        <a href="{$vo.url}" target="_blank" class="name">
                            <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> {$vo.create_time|time_line}</small>{$vo.title}
                        </a>
                        {$vo.content}
                        <a href="javascript:void(0);" data-gid="{$vo.id}" data-uid="{$vo.uid}" class="btn btn-info btn-xs pull-right gb-btn">回复</a>
                    </p>
                    {volist name="vo.replay" id="vo2"}
                    <div class="item">
                        <img src="/static/global/image/avatar.png" alt="{$vo2.title}" class="offline">
                        <p class="message">
                            <a href="{$vo2.url}" target="_blank" class="name">
                                <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> {$vo2.create_time|time_line}</small>{$vo2.title}
                            </a>
                            {$vo2.content}
                            <a href="javascript:void(0);" data-gid="{$vo.id}" data-uid="{$vo2.uid}" class="btn btn-info btn-xs pull-right gb-btn">回复</a>
                        </p>
                    </div>
                    {/volist}
                </div>
                {/volist}
                {$gbList->render()}
            </div>
            
            <div class="clearfix guestbook_box">
                <form class="gb-form clearfix" method="POST" action="{:url('guestbook/arctypeSave')}" onsubmit="return false" >
                    <input type="hidden" name="ruid" value="0" />
                    <input type="hidden" name="gid" value="0" />
                    <input type="hidden" name="tid" value="{$arctype.id}" />
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="gb_content">留言内容 <span class="text-red">*</span></label>
                            <textarea class="form-control" id="gb_content" name="content" rows="3" style="resize:none;" placeholder="说点什么吧..."></textarea>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="gb_title">姓名 <span class="text-red">*</span></label>
                            <input class="form-control" id="gb_title" name="title" placeholder="姓名或昵称">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="gb_email">邮箱 <span class="text-red">*</span></label>
                            <input class="form-control" id="gb_email" name="email" placeholder="邮箱必填(必填,将保密)">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="gb_url">地址</label>
                            <input class="form-control" id="gb_url" name="url" placeholder="网站或博客">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <button type="submit" class="btn btn-success submits" data-loading-text="&lt;i class='fa fa-spinner fa-spin '&gt;&lt;/i&gt; 提交">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        
        <div class="col-sm-4 hidden-xs">
            {include file="inc/arc_hot" /}

            {include file="inc/arc_category" /}
            {include file="inc/flink" /}
        </div>
    </div>
</section>
{/block}