{extend name="public/base" /}

{block name="title"}<title>{$Think.lang.edit}</title>{/block}

{block name="pjax_container"}
<section class="content-header">
    <h1>{$Think.lang.c_title}{$Think.lang.info}</h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" method="POST" action="{:url('Config/save')}" onsubmit="return false" >
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1" data-toggle="tab">{$Think.lang.base_param}</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            <input type="hidden" name="type" value="{$type}" />
                            {volist name="data" id="vo"}
                            {:widget('common/'.$vo->texttype.'/index', [$vo, [
                                'name' => $vo->k,
                                'title' => $vo->desc,
                                'placeholder' => $vo->prompt,
                                'from' => 'selectlist',
                                'fromcfg' => $vo->textvalue,
                            ]])}
                            {/volist}
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-7">
                            <div class="btn-group pull-right">
                                {:auth_action(CONTROLLER_NAME.'/save', 'btn', lang('submit'), '', 'info', '')}
                            </div>
                            <div class="btn-group pull-left">
                                <button type="reset" class="btn btn-warning">{$Think.lang.reset}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<script type="text/javascript">
$(function(){
    /*ajax页面加载icheck，有该控件的页面才需要*/
    $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
        checkboxClass: 'icheckbox_minimal-blue',
        radioClass: 'iradio_minimal-blue'
    });
    
    /*ajax页面加载select2，有该控件的页面才需要*/
    $(".select2").select2({language:"zh-CN"});
})
</script>
{/block}